---
import Layout from '../layouts/Layout.astro';
import Catalogo from '../components/islands/Catalogo';
---

<Layout title="Catálogo - Ferretería El Carmen">
	<div class="pt-20">
		<Catalogo client:load />
	</div>
</Layout>

